{"date":"chrono::NaiveDate","smallserial":"u16","ARRAY":"Vec<String>","bigint":"i64","character varying":"String","serial":"u32","text":"String","real":"f32","boolean":"bool","uuid":"uuid::Uuid","integer":"i32","smallint":"i16","bigserial":"u64"}