{"ARRAY":"Vec<String>","bigint":"i64","uuid":"uuid::Uuid","real":"f32","boolean":"bool","integer":"i32","character varying":"String","text":"String","date":"chrono::NaiveDate","smallserial":"u16","smallint":"i16","serial":"u32","bigserial":"u64"}