{"serial":"u32","integer":"i32","character varying":"String","uuid":"uuid::Uuid","boolean":"bool","real":"f32","text":"String","smallint":"i16","smallserial":"u16","bigint":"i64","bigserial":"u64","ARRAY":"Vec<String>","date":"chrono::NaiveDate"}