{"date":"chrono::NaiveDate","smallint":"i16","ARRAY":"Vec<String>","character varying":"String","serial":"u32","text":"String","bigint":"i64","boolean":"bool","smallserial":"u16","uuid":"uuid::Uuid","real":"f32","integer":"i32","bigserial":"u64"}